<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.berkeley.eduride.base_plugin.prefs.EduRidePreferencePage"
            class="edu.berkeley.eduride.loggerplugin.preferences.LoggerPreferencePage"
            id="edu.berkeley.eduride.loggerplugin.preferences.LoggerPreferencePage"
            name="Logger">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.berkeley.eduride.loggerplugin.preferences.PreferenceInitializer">
      </initializer>
      <scope
            class="org.eclipse.core.runtime.preferences.InstanceScope"
            name="edu.berkeley.eduride.logger-plugin.scope">
      </scope>
   </extension>

</plugin>
