<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="EduRide Logger Preferences"
            class="edu.berkeley.eduride.loggerplugin.preferences.LoggerPreferencePage"
            id="edu.berkeley.eduride.loggerplugin.preferences.LoggerPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.berkeley.eduride.loggerplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
